:root {

    // COLORS

    --bg-color: #FFDD55;
    --black-color: #000000;
    --white-color: #ffffff;
    --accent-color1: #0ACF83;
    --accent-color2: #EB7711;
    --accent-color3: #A259FF;
    --accent-color4: #00C6AE;
    --accent-color5: #18191F;

    // FONTS

    --main-font: 'Montserrat', sans-serif;
}