.about {
    background-color: var(--accent-color7);
    padding: 60px 0;
}
.about-row--inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.about-picture {
    order: 2;
    & img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 385px;
        max-height: 480px;
    }
}
.about-content {
    order: 1;
    color: var(--white-color);
    margin-bottom: 40px;
}
.about-content--title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}
.about-content--subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--bg-color);
}
.about-content--desc {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 22px;
}
.about-btns {
    display: flex;
    column-gap: 10px;
}
.about-btn--inner {
}
.about-btn--inner span {
    // display: block;
    // width: 200px;
    // height: 40px;
    // position: relative;
    // top: 0;
    // left: 0;
    // background-color: aqua;
}
@media screen and (min-width: 1024px) {
    .about {
        background-color: transparent;
    }
    .about-row {
        width: 100%;
        padding: 90px 52px;
        background-color: var(--accent-color7);
    }
    .about-row--inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 60px;
    }
    .about-content {
        order: 2;
        color: var(--white-color);
        margin-bottom: 40px;
        max-width: 480px;
    }
    .about-picture {
        & img {
            min-width: 300px;
        }
    }
}