.footer {
    padding: 20px 0 60px;
}
.footer-row {
}
.footer-content {
}
.footer-content--inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.footer-content--logo {
}
.footer-content--title {
    font-size: 32px;
    color: var(--accent-color5);
}
.footer-content--desc {
    font-size: 21px;
    font-weight: 700;
}
.footer-social--list {
    display: flex;
    column-gap: 10px;
}
.footer-social--item {
    & a {
        display: flex;
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--white-color);
    }
    & img {
        width: 100%;
        height: 100%;
        
    }
}
.footer-bottom {
}
.footer-bottom--desc {
}