.header {
    // position: relative;
    overflow: hidden;
    // z-index: -1;
}
.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    // opacity: .9;
    background-color: darkgreen;
}
.header-nav {
    background-color: var(--black-color);
    padding: 15px 0;
    border-radius: 0 0 25px 25px;
}
.header-nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-logo--inner {
    position: relative;
    
    & span {
        position: absolute;
        right: -4px;
        bottom: -4px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid var(--black-color);
        background-color: var(--white-color);
    }
}
.header-nav--logo {
    position: relative;
    z-index: 1;

    & img {
        display: block;
        width: 50px;
        height: 50px;
    }

    &:active {
        bottom: -4px;
        right: -4px;
    }
}
.header-nav--list {
    display: none;
    column-gap: 40px;
}
.header-nav--item {
}
.header-nav--link {
    font-weight: 600;
    font-size: 24px;
    color: var(--white-color);
    transition: color .3s ease;

    &:hover {
        color: var(--bg-color);
    }
    &:active {
        color: var(--accent-color2);
    }
}
.sidebar-humburger--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    & svg {
        transition: fill .3s ease;
    }

    &:hover {
        & svg {
            fill: var(--bg-color);
        }
    }
    &:active {
        & svg {
            fill: var(--accent-color2);
        }
    }
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 80%;
    background-color: var(--bg-color);
    box-shadow: -10px 0 0 rgb(0, 0, 0);
    transform: translateX(110%);
    color: aliceblue;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 50px;
}
.sidebar-nav--link {
    color: var(--white-color);
}