.service {
    padding: 70px 0 110px;
    background-color: #EB7711;
    color: #fff;
}
.service-row {
}
.service-content {
    text-align: center;
}
.service-content--title {
    color: #000;
}
.service-content--desc {
}
.service-list {
}
.service-list--item {
    background-color: #A259FF;
    max-width: 380px;
    max-height: 572px;
}
.service-item--numm {
}
.service-item--title {
}
.service-item--desc {
}
.service-item--link {
}
@media screen and (min-width: 1024px) {
    .service {
        margin: 80px 0;
    }
}